.service-builder {
	margin-top: 70px;
}

.form-builder {
	margin-top: 40px;
}

.main-service {
	padding: 0 30px;
}

hr {
	margin-top: 0;
	border: none;
	height: 10px;
	background-color: #3f4144;
	opacity: 0.2;
}

textarea {
	resize: none;
}

.add-btn {
  margin: 10px 0;
}
#fields-container {
	padding-top: 7px;
}

#fields-container > div:nth-child(odd) {
	padding-left: 0;
	padding-right: 0;
}
